body{
    text-align: center;
    background-color: black;
}

.line{
    height: 5px;
    background-color: white;
    width: 100px;
    margin: 5px auto;
}

h1{
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

#sec{
    background-color: blue;
}

#sect{
    background-color: pink;
}

#secti{
    background-color: orange;
}

iframe{
    border: 5px solid white;
}

#Mycarousel{
    background-color: red;
}

#Mycarousel img{
    margin-top: 30px;
    height: 300px;
}

.carousel-inner p{
    color: white;
    margin-top: 15px;
    font-size: 20px;
}